# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [1]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/saude

Deploy Panel apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql+psycopg://postgres:***@postgres/saude'

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [28]:
%%sql

DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;
DROP TABLE IF EXISTS horario CASCADE;

CREATE TABLE clinica(
	nome VARCHAR(80) PRIMARY KEY,
	telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) UNIQUE NOT NULL
);

CREATE TABLE enfermeiro(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);

CREATE TABLE medico(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	especialidade VARCHAR(80) NOT NULL
);

CREATE TABLE trabalha(
nif CHAR(9) NOT NULL REFERENCES medico,
nome VARCHAR(80) NOT NULL REFERENCES clinica,
dia_da_semana SMALLINT,
PRIMARY KEY (nif, dia_da_semana)
);

CREATE TABLE paciente(
	ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	data_nasc DATE NOT NULL
);

CREATE TABLE consulta(
	id SERIAL PRIMARY KEY,
	ssn CHAR(11) NOT NULL REFERENCES paciente,
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	data DATE NOT NULL,
	hora TIME NOT NULL,
	codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
	UNIQUE(ssn, data, hora),
	UNIQUE(nif, data, hora)
);

CREATE TABLE receita(
	codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
	medicamento VARCHAR(155) NOT NULL,
	quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
	PRIMARY KEY (codigo_sns, medicamento)
);

CREATE TABLE observacao(
	id INTEGER NOT NULL REFERENCES consulta,
	parametro VARCHAR(155) NOT NULL,
	valor FLOAT,
PRIMARY KEY (id, parametro)
);

CREATE TABLE horario(
    data DATE NOT NULL,
	hora TIME NOT NULL,
    PRIMARY KEY (data, hora)
);

++
||
++
++

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [3]:
%%sql
-- (RI-1)
CREATE OR REPLACE FUNCTION check_time() RETURNS TRIGGER AS $$
    BEGIN
        IF NOT (
            (NEW.hora >= '08:00:00' AND NEW.hora < '13:30:00' AND date_part('minute', NEW.hora) IN (0, 30)) OR
            (NEW.hora >= '14:00:00' AND NEW.hora < '19:30:00' AND date_part('minute', NEW.hora) IN (0, 30))
        ) THEN
                RAISE EXCEPTION 'Horário de consulta inválido. As consultas são a horas exatas ou meia-hora no horário 8-13h e 14-19h.';
        END IF;
        RETURN NEW;
    END
$$ LANGUAGE plpgsql;
CREATE OR REPLACE TRIGGER check_time_trigger Before INSERT ON Consulta
  FOR EACH ROW EXECUTE FUNCTION check_time();

++
||
++
++

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [4]:
%%sql
-- (RI-2)
CREATE OR REPLACE FUNCTION consulta_no_self_medico()
RETURNS TRIGGER AS $$
BEGIN
    -- Verificar se o médico está a tentar consultar-se a si mesmo
    IF NEW.nif = NEW.ssn THEN
        RAISE EXCEPTION 'Um médico não se pode consultar a si próprio.';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER consulta_no_self_medico_trigger
BEFORE INSERT ON consulta
FOR EACH ROW
EXECUTE FUNCTION consulta_no_self_medico();

++
||
++
++

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [5]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION consulta_clinica_dia_semana()
RETURNS TRIGGER AS $$
DECLARE
    dia_semana_consulta INTEGER;
    dia_semana_trabalho INTEGER;
BEGIN
    -- Obter o dia da semana da data da consulta
    dia_semana_consulta := EXTRACT(DOW FROM NEW.data);

    -- Obter o dia da semana em que o médico trabalha na clínica
    SELECT dia_da_semana INTO dia_semana_trabalho
    FROM trabalha
    WHERE nif = NEW.nif AND nome = NEW.nome;

    -- Verificar se o dia da semana da consulta coincide com o dia de trabalho do médico na clínica
    IF dia_semana_consulta <> dia_semana_trabalho THEN
        RAISE EXCEPTION 'O médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta.';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER consulta_clinica_dia_semana_trigger
BEFORE INSERT ON consulta
FOR EACH ROW
EXECUTE FUNCTION consulta_clinica_dia_semana();

++
||
++
++

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

### Explicação da arquitetura da aplicação web, incluindo a descrição dos vários ficheiros na pasta web/arquivos e a relação entre eles

...

## 3. Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [54]:
%%sql
-- CREATE MATERIALIZED VIEW ...
-- Drop the existing materialized view if it exists
DROP MATERIALIZED VIEW IF EXISTS historial_paciente;

CREATE MATERIALIZED VIEW historial_paciente AS
SELECT 
    c.id,
    c.ssn,
    c.nif,
    c.nome,
    c.data,
    EXTRACT(YEAR FROM c.data) AS ano,
    EXTRACT(MONTH FROM c.data) AS mes,
    EXTRACT(DAY FROM c.data) AS dia_do_mes,
    cl.morada AS localidade,
    m.especialidade,
    'observacao' AS tipo,
    o.parametro AS chave,
    o.valor
FROM 
    consulta c
JOIN 
    clinica cl ON c.nome = cl.nome
JOIN 
    medico m ON c.nif = m.nif
LEFT JOIN 
    observacao o ON c.id = o.id

UNION ALL

SELECT 
    c.id,
    c.ssn,
    c.nif,
    c.nome,
    c.data,
    EXTRACT(YEAR FROM c.data) AS ano,
    EXTRACT(MONTH FROM c.data) AS mes,
    EXTRACT(DAY FROM c.data) AS dia_do_mes,
    cl.morada AS localidade,
    m.especialidade,
    'receita' AS tipo,
    r.medicamento AS chave,
    r.quantidade AS valor
FROM 
    consulta c
JOIN 
    clinica cl ON c.nome = cl.nome
JOIN 
    medico m ON c.nif = m.nif
LEFT JOIN 
    receita r ON c.codigo_sns = r.codigo_sns;

547488 rows affected.

++
||
++
++

## 5. Análise de Dados (SQL e OLAP

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [32]:
%%sql
-- SELECT ...
WITH ortopedia_observacoes AS (
    SELECT 
        hp.ssn,
        hp.data,
        hp.chave
    FROM 
        historial_paciente hp
    WHERE 
        hp.tipo = 'observacao'
        AND hp.especialidade = 'Ortopedia'
),

intervalos_temporais AS (
    SELECT 
        ssn,
        chave,
        EXTRACT(EPOCH FROM MAX(data)) - EXTRACT(EPOCH FROM MIN(data)) AS max_intervalo
    FROM 
        ortopedia_observacoes
    GROUP BY 
        ssn, chave
),

intervalo_maximo AS (
    SELECT 
        MAX(max_intervalo) AS intervalo_maximo
    FROM 
        intervalos_temporais
),

pacientes_com_maior_intervalo AS (
    SELECT 
        it.ssn,
        it.max_intervalo
    FROM 
        intervalos_temporais it
    JOIN 
        intervalo_maximo im ON it.max_intervalo = im.intervalo_maximo
)

SELECT 
    DISTINCT p.ssn,
    p.nome,
    pcm.max_intervalo
FROM 
    paciente p
JOIN 
    pacientes_com_maior_intervalo pcm ON p.ssn = pcm.ssn;

69 rows affected.

+-------------+--------------------+---------------+
|     ssn     |        nome        | max_intervalo |
+-------------+--------------------+---------------+
| 03601889623 |  Carla Elisabete   |    60480000   |
| 03874391127 |   Daniela Bruno    |    60480000   |
| 05268276866 |    Xavier Paulo    |    60480000   |
| 05576865775 |    Silvia Artur    |    60480000   |
| 05985171134 |    Tania Leonor    |    60480000   |
| 09402735702 |  Gustavo Barbara   |    60480000   |
| 12354153642 | Elisabete Bernardo |    60480000   |
| 16228840443 |     Nalia Luis     |    60480000   |
| 17151279160 |   Liliana Helena   |    60480000   |
| 17704778992 |   Simao Barbara    |    60480000   |
| 18235172651 |   Danilo Fatima    |    60480000   |
| 18382008719 |    Katia Danilo    |    60480000   |
| 18738234765 |  Marcelo Bernardo  |    60480000   |
| 20082095450 |    Silvia Simao    |    60480000   |
| 20091997052 |  Carolina Renata   |    60480000   |
| 22276198456 | Cinderela Gabriela |    60480000   |
| 28121526848 |  Dinis Cinderela   |    60480000   |
| 30360597166 |   Marcelo Paulo    |    60480000   |
| 30365518242 |   Paulo Henrique   |    60480000   |
| 30617744053 | Francisco Beatriz  |    60480000   |
| 31039972665 |   Tomas Catarina   |    60480000   |
| 31226829613 |     Tiago Toni     |    60480000   |
| 31256048465 |    Quintino Ze     |    60480000   |
| 31606473230 |   Gustavo Lucas    |    60480000   |
| 33818643520 |   Manuela Laura    |    60480000   |
| 34438069096 |     Isa Katia      |    60480000   |
| 36048676009 |    Tania Katia     |    60480000   |
| 37574162079 |   Edgar Gabriela   |    60480000   |
| 38121154827 |   Fatima Claudia   |    60480000   |
| 38663552841 |   Claudia Paulo    |    60480000   |
| 42936699854 |   Kevin Liliana    |    60480000   |
| 46792002826 |  Vanessa Ronaldo   |    60480000   |
| 47032639410 |    Olivia Artur    |    60480000   |
| 47068047711 |    Ines Gabriel    |    60480000   |
| 47453131295 |   Manuel Gustavo   |    60480000   |
| 49012902117 |   Ursula Samuel    |    60480000   |
| 51525362904 | Luciana Cinderela  |    60480000   |
| 51545578051 |     Sara Vitor     |    60480000   |
| 52696359988 |   Silvia Rafael    |    60480000   |
| 55814923465 |   Xavier Samuel    |    60480000   |
| 57953867464 |  Danilo Quintino   |    60480000   |
| 60773498476 |  Sthefania Danilo  |    60480000   |
| 61097231798 |   Tiago Marcelo    |    60480000   |
| 62434864272 |     Luis Nalia     |    60480000   |
| 64213488877 | Francisco Manuela  |    60480000   |
| 66225418663 |    Paulo Paulo     |    60480000   |
| 69571500972 |    Sandra Toni     |    60480000   |
| 70483140828 |   Daniela Ramon    |    60480000   |
| 72169844451 |  Gustavo Claudia   |    60480000   |
| 72303870366 |    Bruno Tania     |    60480000   |
| 73148660508 |  Eduarda Ricardo   |    60480000   |
| 74031853462 |   Olivia Felipe    |    60480000   |
| 78808107604 |   Bernardo Lucas   |    60480000   |
| 80948918034 |   Ricardo Olivia   |    60480000   |
| 81265064754 | Catarina Carolina  |    60480000   |
| 81910995077 | Patricia Gabriela  |    60480000   |
| 82751360348 |    Kevin Carla     |    60480000   |
| 83763487270 |    Dinis Laura     |    60480000   |
| 84113828825 |   Rafaela Vitor    |    60480000   |
| 85609765719 |    Fabio Edgar     |    60480000   |
| 86363762677 |   Elisabete Isa    |    60480000   |
| 87118294122 |   Luciana Fabio    |    60480000   |
| 88559104232 |   Juliana Nalia    |    60480000   |
| 89251910218 |   Helena Miguel    |    60480000   |
| 90953466419 |   Rafael Sergio    |    60480000   |
| 91250795549 |   Sergio Sandra    |    60480000   |
| 93224089636 |   Tiago Catarina   |    60480000   |
| 93401739319 |   Helena Edmundo   |    60480000   |
| 94307747113 |   Bernardo Sara    |    60480000   |
+-------------+--------------------+---------------+

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante pelo menos doze meses consecutivos, em consultas de cardiologia.

In [40]:
%%sql
-- SELECT ...
WITH MonthlyMedication AS (
    SELECT
        hp.ssn,
        hp.chave AS medicamento,
        hp.ano,
        hp.mes
    FROM
        historial_paciente hp
    WHERE
        hp.tipo = 'receita'
        AND hp.especialidade = 'Cardiologia'
        AND (hp.ano * 12 + hp.mes) >= (EXTRACT(YEAR FROM CURRENT_DATE) * 12 + EXTRACT(MONTH FROM CURRENT_DATE) - 12)
        AND (hp.ano * 12 + hp.mes) < (EXTRACT(YEAR FROM CURRENT_DATE) * 12 + EXTRACT(MONTH FROM CURRENT_DATE))
    GROUP BY
        hp.ssn, hp.chave, hp.ano, hp.mes
),
ConsecutiveMonthlyMedication AS (
    SELECT
        ssn,
        medicamento,
        COUNT(DISTINCT ano * 12 + mes) AS meses_consecutivos
    FROM
        MonthlyMedication
    GROUP BY
        ssn, medicamento
    HAVING
        COUNT(DISTINCT ano * 12 + mes) = 12
)
SELECT DISTINCT
    medicamento
FROM
    ConsecutiveMonthlyMedication;

+-------------+
| medicamento |
+-------------+
+-------------+

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [8]:
%%sql
WITH clinic_data AS (
    SELECT
        hp.localidade,
        hp.nome AS clinica,
        NULL::INTEGER AS mes,
        NULL::INTEGER AS dia_do_mes,
        NULL::TEXT AS nome,
        NULL::TEXT AS especialidade,
        SUM(hp.valor) AS total_quantidade
    FROM historial_paciente hp
    JOIN medico m ON m.nif = hp.nif
    WHERE tipo = 'receita' AND ano = 2023
    GROUP BY GROUPING SETS((hp.localidade), (hp.localidade, hp.nome))
),
date_data AS (
    SELECT
        NULL::TEXT AS localidade,
        NULL::TEXT AS clinica,
        hp.mes,
        hp.dia_do_mes,
        NULL::TEXT AS nome,
        NULL::TEXT AS especialidade,
        SUM(hp.valor) AS total_quantidade
    FROM historial_paciente hp
    JOIN medico m ON m.nif = hp.nif
    WHERE tipo = 'receita' AND ano = 2023
    GROUP BY GROUPING SETS((hp.mes), (hp.mes, hp.dia_do_mes))
),
medico_data AS (
    SELECT
        NULL::TEXT AS localidade,
        NULL::TEXT AS clinica,
        NULL::INTEGER AS mes,
        NULL::INTEGER AS dia_do_mes,
        m.nome AS nome,
        hp.especialidade,
        SUM(hp.valor) AS total_quantidade
    FROM historial_paciente hp
    JOIN medico m ON m.nif = hp.nif
    WHERE tipo = 'receita' AND ano = 2023
    GROUP BY GROUPING SETS((hp.especialidade), (hp.especialidade, m.nome))
)
SELECT * FROM clinic_data
UNION ALL
SELECT * FROM date_data
UNION ALL
SELECT * FROM medico_data;

453 rows affected.

+----------------------------------+------------------------------+------+------------+------+---------------+------------------+
|            localidade            |           clinica            | mes  | dia_do_mes | nome | especialidade | total_quantidade |
+----------------------------------+------------------------------+------+------------+------+---------------+------------------+
|  Rua Liberdade Amadora 3699-705  |       Hospital da Luz        | None |    None    | None |      None     |     51373.0      |
| Praceta Encanto Cascais 2227-636 |   Hospital de Santa Maria    | None |    None    | None |      None     |     50881.0      |
|   Travessa Rio Sintra 3140-993   |   Hospital Beatriz Angelo    | None |    None    | None |      None     |     50804.0      |
|  Largo Alegria Sintra 2568-896   |     Hospital de Cascais      | None |    None    | None |      None     |     51178.0      |
|  Largo Estrela Sintra 8919-160   | Clinica Sao Francisco Xavier | None |    None    | None |      None     |     50940.0      |
|  Largo Alegria Sintra 2568-896   |             None             | None |    None    | None |      None     |     51178.0      |
|   Travessa Rio Sintra 3140-993   |             None             | None |    None    | None |      None     |     50804.0      |
| Praceta Encanto Cascais 2227-636 |             None             | None |    None    | None |      None     |     50881.0      |
|  Largo Estrela Sintra 8919-160   |             None             | None |    None    | None |      None     |     50940.0      |
|  Rua Liberdade Amadora 3699-705  |             None             | None |    None    | None |      None     |     51373.0      |
|               None               |             None             |  7   |     13     | None |      None     |      684.0       |
|               None               |             None             |  3   |     17     | None |      None     |      692.0       |
|               None               |             None             |  5   |     27     | None |      None     |      651.0       |
|               None               |             None             |  4   |     27     | None |      None     |      754.0       |
|               None               |             None             |  1   |     19     | None |      None     |      708.0       |
|               None               |             None             |  3   |     15     | None |      None     |      675.0       |
|               None               |             None             |  10  |     21     | None |      None     |      702.0       |
|               None               |             None             |  12  |     1      | None |      None     |      692.0       |
|               None               |             None             |  10  |     10     | None |      None     |      747.0       |
|               None               |             None             |  7   |     24     | None |      None     |      646.0       |
|               None               |             None             |  3   |     12     | None |      None     |      667.0       |
|               None               |             None             |  10  |     27     | None |      None     |      732.0       |
|               None               |             None             |  5   |     24     | None |      None     |      632.0       |
|               None               |             None             |  2   |     23     | None |      None     |      683.0       |
|               None               |             None             |  11  |     30     | None |      None     |      714.0       |
|               None               |             None             |  9   |     1      | None |      None     |      728.0       |
|               None               |             None             |  5   |     1      | None |      None     |      749.0       |
|               None               |             None             |  6   |     2      | None |      None     |      729.0       |
|               None               |             None             |  5   |     31     | None |      None     |      653.0       |
|               None               |             None             |  12  |     31     | None |      None     |      658.0       |
|               None               |             None             |  8   |     12     | None |      None     |      691.0       |
|               None               |             None             |  1   |     29     | None |      None     |      728.0       |
|               None               |             None             |  6   |     20     | None |      None     |      671.0       |
|               None               |             None             |  7   |     5      | None |      None     |      691.0       |
|               None               |             None             |  11  |     6      | None |      None     |      778.0       |
|               None               |             None             |  7   |     27     | None |      None     |      698.0       |
|               None               |             None             |  3   |     18     | None |      None     |      692.0       |
|               None               |             None             |  1   |     20     | None |      None     |      643.0       |
|               None               |             None             |  6   |     7      | None |      None     |      709.0       |
|               None               |             None             |  4   |     25     | None |      None     |      713.0       |
|               None               |             None             |  9   |     10     | None |      None     |      724.0       |
|               None               |             None             |  11  |     13     | None |      None     |      684.0       |
|               None               |             None             |  8   |     2      | None |      None     |      641.0       |
|               None               |             None             |  12  |     27     | None |      None     |      729.0       |
|               None               |             None             |  2   |     4      | None |      None     |      681.0       |
|               None               |             None             |  1   |     23     | None |      None     |      677.0       |
|               None               |             None             |  6   |     24     | None |      None     |      775.0       |
|               None               |             None             |  2   |     2      | None |      None     |      710.0       |
|               None               |             None             |  9   |     27     | None |      None     |      644.0       |
|               None               |             None             |  12  |     25     | None |      None     |      695.0       |
|               None               |             None             |  8   |     27     | None |      None     |      700.0       |
|               None               |             None             |  10  |     13     | None |      None     |      718.0       |
|               None               |             None             |  9   |     15     | None |      None     |      663.0       |
|               None               |             None             |  3   |     31     | None |      None     |      671.0       |
|               None               |             None             |  10  |     30     | None |      None     |      686.0       |
|               None               |             None             |  10  |     23     | None |      None     |      688.0       |
|               None               |             None             |  5   |     16     | None |      None     |      723.0       |
|               None               |             None             |  10  |     2      | None |      None     |      790.0       |
|               None               |             None             |  3   |     29     | None |      None     |      734.0       |
|               None               |             None             |  2   |     20     | None |      None     |      664.0       |
|               None               |             None             |  10  |     20     | None |      None     |      695.0       |
|               None               |             None             |  3   |     9      | None |      None     |      685.0       |
|               None               |             None             |  6   |     22     | None |      None     |      661.0       |
|               None               |             None             |  4   |     3      | None |      None     |      728.0       |
|               None               |             None             |  6   |     19     | None |      None     |      742.0       |
|               None               |             None             |  4   |     7      | None |      None     |      705.0       |
|               None               |             None             |  5   |     22     | None |      None     |      759.0       |
|               None               |             None             |  12  |     13     | None |      None     |      748.0       |
|               None               |             None             |  7   |     30     | None |      None     |      661.0       |
|               None               |             None             |  4   |     17     | None |      None     |      638.0       |
|               None               |             None             |  3   |     16     | None |      None     |      601.0       |
|               None               |             None             |  2   |     12     | None |      None     |      632.0       |
|               None               |             None             |  5   |     12     | None |      None     |      730.0       |
|               None               |             None             |  2   |     10     | None |      None     |      693.0       |
|               None               |             None             |  8   |     29     | None |      None     |      692.0       |
|               None               |             None             |  5   |     9      | None |      None     |      690.0       |
|               None               |             None             |  3   |     27     | None |      None     |      756.0       |
|               None               |             None             |  2   |     14     | None |      None     |      669.0       |
|               None               |             None             |  11  |     17     | None |      None     |      687.0       |
|               None               |             None             |  2   |     17     | None |      None     |      683.0       |
|               None               |             None             |  11  |     22     | None |      None     |      710.0       |
|               None               |             None             |  8   |     6      | None |      None     |      636.0       |
|               None               |             None             |  4   |     1      | None |      None     |      684.0       |
|               None               |             None             |  8   |     7      | None |      None     |      631.0       |
|               None               |             None             |  2   |     26     | None |      None     |      678.0       |
|               None               |             None             |  12  |     9      | None |      None     |      809.0       |
|               None               |             None             |  5   |     25     | None |      None     |      759.0       |
|               None               |             None             |  3   |     19     | None |      None     |      610.0       |
|               None               |             None             |  12  |     23     | None |      None     |      635.0       |
|               None               |             None             |  11  |     26     | None |      None     |      657.0       |
|               None               |             None             |  9   |     25     | None |      None     |      793.0       |
|               None               |             None             |  2   |     15     | None |      None     |      657.0       |
|               None               |             None             |  10  |     19     | None |      None     |      657.0       |
|               None               |             None             |  3   |     1      | None |      None     |      657.0       |
|               None               |             None             |  2   |     25     | None |      None     |      735.0       |
|               None               |             None             |  7   |     8      | None |      None     |      736.0       |
|               None               |             None             |  1   |     11     | None |      None     |      677.0       |
|               None               |             None             |  12  |     17     | None |      None     |      729.0       |
|               None               |             None             |  5   |     4      | None |      None     |      721.0       |
|               None               |             None             |  6   |     9      | None |      None     |      683.0       |
+----------------------------------+------------------------------+------+------------+------+---------------+------------------+
Truncated to displaylimit of 100.

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [33]:
%%sql
WITH ObservacoesMetricas AS (
    SELECT
        hp.valor,
        hp.especialidade,
        m.nome AS medico_nome,
        hp.nome AS clinica_nome
    FROM
        historial_paciente hp
    JOIN medico m ON hp.nif = m.nif
    WHERE
        hp.valor IS NOT NULL and hp.tipo = 'observacao'
)
SELECT
especialidade,
medico_nome,
clinica_nome,
AVG(valor) AS media_valor,
STDDEV(valor) AS desvio_padrao_valor
FROM
    ObservacoesMetricas
GROUP BY GROUPING SETS((), (especialidade, medico_nome), (especialidade),(clinica_nome, especialidade, medico_nome));

242 rows affected.

+---------------+----------------+------------------------------+--------------------+---------------------+
| especialidade |  medico_nome   |         clinica_nome         |    media_valor     | desvio_padrao_valor |
+---------------+----------------+------------------------------+--------------------+---------------------+
|      None     |      None      |             None             | 49.93443410414567  |  28.924024193699953 |
|  Cardiologia  |   Kowi Zola    | Clinica Sao Francisco Xavier | 47.16533333333336  |  28.88448899872054  |
| Clinica Geral |   Lulu Nkosi   |       Hospital da Luz        |  48.867867494824   |  29.89035835552007  |
|  Ginecologia  |  Jabari Kowi   |   Hospital de Santa Maria    | 52.572637362637415 |  27.258050680660453 |
| Clinica Geral | Adebola Talib  |     Hospital de Cascais      | 49.04743362831853  |  29.037810239896857 |
| Clinica Geral |   Lulu Nkosi   |   Hospital de Santa Maria    | 49.43936374549816  |  28.45547023849249  |
| Clinica Geral | Adebola Nkosi  |   Hospital de Santa Maria    | 50.29904325032769  |  29.03463942631695  |
|   Pediatria   |  Jabari Nyah   |       Hospital da Luz        | 49.63249673202608  |  28.79631636226511  |
| Clinica Geral |   Lulu Zola    |   Hospital de Santa Maria    | 49.73053658536585  |  28.34722982640767  |
|   Ortopedia   |  Mandla Zola   |     Hospital de Cascais      | 49.86178610804855  |   29.2081246541595  |
|   Ortopedia   | Mandla Adebola |       Hospital da Luz        | 51.73607902735559  |  29.680052462087595 |
| Clinica Geral |   Lulu Simba   |   Hospital Beatriz Angelo    | 49.781999999999975 |  28.463673697290403 |
|   Pediatria   |  Jabari Zola   |   Hospital Beatriz Angelo    | 50.09430167597763  |  29.615186426821438 |
| Clinica Geral |   Lulu Balu    | Clinica Sao Francisco Xavier | 51.55179442508713  |  28.517039486989464 |
| Clinica Geral |   Lulu Nyah    |   Hospital de Santa Maria    | 50.085823627287844 |  29.45760711647911  |
|  Cardiologia  |   Kowi Penda   |   Hospital de Santa Maria    | 49.400473506200676 |  29.15450593784482  |
| Clinica Geral | Adebola Penda  |   Hospital de Santa Maria    | 49.95086956521733  |  29.187656415129876 |
| Clinica Geral |   Lulu Penda   |   Hospital de Santa Maria    |  50.2484513274336  |  28.98444426877437  |
| Clinica Geral |  Adebola Eshe  |   Hospital Beatriz Angelo    |   47.96250317662   |  29.710167817027852 |
|  Cardiologia  |   Kowi Talib   |     Hospital de Cascais      |  49.704424778761   |  28.976404788722785 |
|   Ortopedia   |   Kowi Nkosi   |       Hospital da Luz        | 48.873362637362675 |  29.09713641371496  |
|  Dermatologia |  Imani Talib   | Clinica Sao Francisco Xavier |  53.3875882352941  |  28.718187932746197 |
| Clinica Geral |   Lulu Balu    |   Hospital Beatriz Angelo    | 49.072036585365936 |  29.049798531975302 |
| Clinica Geral |  Mandla Nyah   |       Hospital da Luz        |  49.3630303030303  |  28.710494954195482 |
|   Pediatria   |  Jabari Penda  | Clinica Sao Francisco Xavier | 51.33736137667303  |  29.343418249360386 |
|  Dermatologia |   Imani Lulu   |   Hospital de Santa Maria    | 48.10850543478262  |  29.699933103805844 |
| Clinica Geral |   Lulu Penda   |       Hospital da Luz        | 50.375624999999985 |  29.73171536471814  |
|   Pediatria   |  Jabari Balu   | Clinica Sao Francisco Xavier | 49.94922196796337  |  29.630757147228774 |
|   Pediatria   |  Jabari Talib  |   Hospital Beatriz Angelo    | 48.861771300448446 |  29.149124846680294 |
|  Ginecologia  |   Imani Balu   |   Hospital de Santa Maria    | 50.543043478260856 |  28.158576755830392 |
|  Ginecologia  |  Imani Nkosi   |     Hospital de Cascais      | 50.43023450586265  |  29.058190237774035 |
|  Cardiologia  |   Kowi Eshe    |   Hospital de Santa Maria    | 48.63383414634148  |  28.450216793162312 |
| Clinica Geral |  Mandla Nyah   |     Hospital de Cascais      |  49.5080652173913  |   28.1558836295134  |
|  Ginecologia  | Jabari Mandla  |     Hospital de Cascais      | 50.47536878216126  |  28.55578736894981  |
| Clinica Geral |  Mandla Eshe   |       Hospital da Luz        | 51.43901869158878  |  28.81584699276869  |
|   Pediatria   |  Jabari Zola   |       Hospital da Luz        | 52.165767441860474 |  28.76169581485517  |
|  Cardiologia  |   Kowi Talib   |   Hospital de Santa Maria    | 49.02886877828047  |  28.886296260382807 |
|  Cardiologia  |   Kowi Talib   |   Hospital Beatriz Angelo    | 48.758531128404655 |  29.409070249377447 |
|  Dermatologia |   Imani Nyah   |   Hospital Beatriz Angelo    | 49.082282157676374 |  28.519820306065835 |
| Clinica Geral |   Lulu Simba   |       Hospital da Luz        | 51.088944954128436 |  29.360334681966563 |
|  Ginecologia  | Jabari Adebola |   Hospital Beatriz Angelo    | 49.15494369369379  |  28.428760382889735 |
|   Ortopedia   | Mandla Adebola |   Hospital Beatriz Angelo    | 48.84780364372471  |  28.589805562494167 |
| Clinica Geral |  Mandla Balu   |   Hospital Beatriz Angelo    | 48.29423766816143  |  28.891315467066292 |
|  Cardiologia  |   Kowi Penda   | Clinica Sao Francisco Xavier |  52.1309445585215  |  28.84689113080573  |
|  Ginecologia  |  Imani Simba   |     Hospital de Cascais      | 51.18207459207462  |  28.98025792241976  |
|   Ortopedia   |   Kowi Balu    |       Hospital da Luz        |  51.0779803921569  |  28.016704312769782 |
|  Cardiologia  |   Kowi Zola    |       Hospital da Luz        | 51.18958602846054  |  29.235432758638648 |
|  Ginecologia  |  Jabari Lulu   |   Hospital de Santa Maria    | 49.20315192743763  |  30.125612929216185 |
| Clinica Geral | Adebola Talib  |   Hospital Beatriz Angelo    |  48.2713740458015  |  28.472446090430797 |
| Clinica Geral |  Mandla Nkosi  |   Hospital de Santa Maria    |  50.4635406091371  |  28.669156208189687 |
|   Ortopedia   |   Kowi Simba   | Clinica Sao Francisco Xavier | 48.339701492537266 |  29.347494657052867 |
|  Dermatologia |   Imani Nyah   | Clinica Sao Francisco Xavier | 49.716387096774156 |  28.27905228093621  |
| Clinica Geral |   Lulu Eshe    | Clinica Sao Francisco Xavier | 51.507528957528876 |  28.88780759982819  |
|  Ginecologia  |  Imani Nkosi   |   Hospital Beatriz Angelo    |  47.9277848101266  |  29.297606442942048 |
|   Pediatria   |  Jabari Simba  |   Hospital Beatriz Angelo    | 51.14775073028234  |  28.584597522112468 |
|  Cardiologia  |  Kowi Mandla   |   Hospital de Santa Maria    | 49.630943396226435 |  27.36834950565078  |
|   Ortopedia   |  Mandla Lulu   |       Hospital da Luz        | 51.102513542795194 |  29.421788957772158 |
|   Pediatria   |  Jabari Nkosi  |   Hospital Beatriz Angelo    | 48.42199438202247  |  29.83464322854584  |
|  Dermatologia |   Imani Kowi   |     Hospital de Cascais      | 53.48322784810128  |  28.477266316300582 |
|  Cardiologia  |   Kowi Penda   |       Hospital da Luz        | 49.13665882352942  |  29.098100471927065 |
|  Dermatologia |  Imani Mandla  | Clinica Sao Francisco Xavier | 48.30195402298854  |  29.157374946144266 |
| Clinica Geral |  Adebola Eshe  |   Hospital de Santa Maria    | 50.58885350318474  |   29.1217623670615  |
|  Cardiologia  |  Kowi Adebola  |     Hospital de Cascais      |  51.465914893617   |  30.30660117797373  |
|  Dermatologia |  Imani Penda   | Clinica Sao Francisco Xavier | 49.80254237288133  |  29.72004536852746  |
|   Ortopedia   | Mandla Adebola |     Hospital de Cascais      | 51.73242206235016  |  28.21484853784871  |
|   Pediatria   |  Jabari Balu   |   Hospital de Santa Maria    | 50.45215384615381  |   29.8614271245453  |
|  Dermatologia | Imani Adebola  |   Hospital de Santa Maria    |  47.7910975609756  |  27.886459628213064 |
|  Ginecologia  |   Imani Eshe   | Clinica Sao Francisco Xavier | 48.76397358943577  |   28.536834435103   |
|  Cardiologia  |   Kowi Penda   |     Hospital de Cascais      |  49.6871536523929  |  29.84313389400015  |
| Clinica Geral |   Lulu Nyah    |       Hospital da Luz        | 49.71581798483209  |  30.237513922583997 |
| Clinica Geral |  Mandla Simba  |   Hospital de Santa Maria    | 49.541270718231964 |  28.79884961979059  |
|  Ginecologia  |   Imani Eshe   |   Hospital de Santa Maria    | 49.002404921700204 |  28.618533523980176 |
|  Cardiologia  |   Kowi Lulu    |     Hospital de Cascais      | 48.773282647584956 |  28.91388693829743  |
|   Pediatria   |  Jabari Talib  |   Hospital de Santa Maria    | 50.05661605206076  |  27.624410594579487 |
| Clinica Geral |  Adebola Eshe  |       Hospital da Luz        |  50.391311827957   |  30.129887130404526 |
| Clinica Geral | Adebola Nkosi  | Clinica Sao Francisco Xavier | 50.11084632516704  |  28.695543374363755 |
|  Cardiologia  |   Kowi Lulu    |   Hospital Beatriz Angelo    | 50.88592771084334  |  29.26935969493154  |
|  Dermatologia |   Imani Kowi   |   Hospital de Santa Maria    | 48.98829424307029  |  28.890619223814813 |
| Clinica Geral |   Lulu Nyah    | Clinica Sao Francisco Xavier |  50.5084789644013  |  29.386598201353113 |
|  Ginecologia  | Jabari Mandla  |   Hospital de Santa Maria    | 50.852960760998755 |  29.25856056918387  |
|   Ortopedia   |   Kowi Nkosi   |   Hospital de Santa Maria    | 49.90035999999995  |  29.136436637372643 |
|  Dermatologia |  Imani Talib   |   Hospital de Santa Maria    | 48.576815068493204 |  29.602886573808313 |
| Clinica Geral |   Lulu Eshe    |   Hospital de Santa Maria    | 49.99752183406109  |  28.38349026151914  |
|  Ginecologia  | Jabari Mandla  |       Hospital da Luz        |  48.8386919831224  |  28.37901778985247  |
|  Dermatologia |   Imani Lulu   | Clinica Sao Francisco Xavier | 50.82586289837649  |  28.28053378948168  |
|  Ginecologia  |  Jabari Kowi   |       Hospital da Luz        |  50.7262582781457  |  28.538661775367096 |
|  Ginecologia  | Jabari Adebola |       Hospital da Luz        | 52.03136465324383  |  29.210597125981792 |
|   Pediatria   |  Jabari Simba  | Clinica Sao Francisco Xavier | 50.27888376383762  |  28.944507854662486 |
| Clinica Geral |  Mandla Balu   |   Hospital de Santa Maria    |  49.6508527755431  |  28.876751550504192 |
|  Ginecologia  |  Jabari Lulu   |     Hospital de Cascais      | 48.072794457274824 |  29.541478847495217 |
|   Pediatria   |  Jabari Nkosi  |   Hospital de Santa Maria    | 52.143106575963735 |  28.804845711505127 |
|  Dermatologia | Imani Adebola  | Clinica Sao Francisco Xavier | 51.455167037861955 |  29.01697295843756  |
| Clinica Geral | Adebola Penda  |     Hospital de Cascais      | 48.888481781376555 |  29.055413447953445 |
|  Ginecologia  |  Jabari Kowi   |     Hospital de Cascais      | 49.82376657824937  |  28.299829559994247 |
|  Ginecologia  |  Jabari Lulu   |       Hospital da Luz        | 48.97132743362831  |  28.999357341333837 |
|   Pediatria   |  Jabari Nkosi  |       Hospital da Luz        | 49.69196013289039  |  28.354795251969506 |
| Clinica Geral |  Mandla Eshe   |   Hospital Beatriz Angelo    | 50.59538869257953  |  29.999536694489958 |
| Clinica Geral |  Mandla Simba  |     Hospital de Cascais      | 48.87872881355934  |  28.601981366391627 |
| Clinica Geral |  Adebola Nyah  |   Hospital de Santa Maria    | 51.84488322717623  |  29.376649287102136 |
|   Pediatria   |  Jabari Nyah   |     Hospital de Cascais      | 48.376239168110956 |  28.784470203463666 |
+---------------+----------------+------------------------------+--------------------+---------------------+
Truncated to displaylimit of 100.

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

In [44]:
%%sql

CREATE INDEX index_parametro_valor
ON observacao (parametro, valor);

CREATE INDEX index_ssn
ON consulta (ssn);

CREATE INDEX index_id
ON observacao (id);

++
||
++
++

### Justificação
A utilização do index_parametro_valor tem como objetivo otimizar a cláusula 'WHERE', que filtra os resgistos na tabela 'observacao' segundo as condições indicadas. Assim, conseguimos reduzir o número de leituras de disco necessárias, uma vez que a base de dados pode utilizar o índice para encontrar rapidamente os registos desejados.
Para além do objetivo de otimizar a cláusula 'JOIN', a criação do índice ssn e do índice id foram criados com um propósito similar em mente uma vez que esses atributos são chaves primárias de outras entidades, é aconcelhado criar índices.
Inicialmente, ao testar os tempos do código sem a criação dos índices observámos um execution time de aproximadamente o dobro do que quando fomos testar com os índices, concluindo que os índices efetivamente otimizaram a procura dos dados. 

...

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_sns) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
ORDER BY qtd;

In [74]:
%%sql
-- CREATE INDEX ...
--DROP INDEX IF EXISTS index_consulta_nif_data CASCADE;
--DROP INDEX IF EXISTS index_receita_codigo_sns CASCADE;
--DROP INDEX IF EXISTS index_medico_especialidade CASCADE;

--CREATE INDEX index_consulta_nif_data
--ON consulta (nif, data);

--CREATE INDEX index_receita_codigo_sns
--ON receita (codigo_sns);

--CREATE INDEX index_medico_especialidade
--ON medico (especialidade);

EXPLAIN ANALYSE
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_sns) 
WHERE data BETWEEN '2023-01-01' AND '2023-12-31' 
GROUP BY especialidade
ORDER BY qtd;

30 rows affected.

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                        QUERY PLAN                                                                                        |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                Sort  (cost=6308.04..6308.05 rows=6 width=20) (actual time=63.732..69.281 rows=6 loops=1)                                                 |
|                                                                            Sort Key: (sum(receita.quantidade))                                                                           |
|                                                                            Sort Method: quicksort  Memory: 25kB                                                                          |
|                                      ->  Finalize GroupAggregate  (cost=6307.18..6307.96 rows=6 width=20) (actual time=63.704..69.261 rows=6 loops=1)                                    |
|                                                                                 Group Key: medico.especialidade                                                                          |
|                                              ->  Gather Merge  (cost=6307.18..6307.87 rows=6 width=20) (actual time=63.665..69.221 rows=12 loops=1)                                      |
|                                                                                           Workers Planned: 1                                                                             |
|                                                                                          Workers Launched: 1                                                                             |
|                                                     ->  Sort  (cost=5307.17..5307.18 rows=6 width=20) (actual time=56.628..56.641 rows=6 loops=2)                                        |
|                                                                                        Sort Key: medico.especialidade                                                                    |
|                                                                                     Sort Method: quicksort  Memory: 25kB                                                                 |
|                                                                               Worker 0:  Sort Method: quicksort  Memory: 25kB                                                            |
|                                                ->  Partial HashAggregate  (cost=5307.03..5307.09 rows=6 width=20) (actual time=56.581..56.593 rows=6 loops=2)                            |
|                                                                                          Group Key: medico.especialidade                                                                 |
|                                                                                           Batches: 1  Memory Usage: 24kB                                                                 |
|                                                                                     Worker 0:  Batches: 1  Memory Usage: 24kB                                                            |
|                                                     ->  Hash Join  (cost=1816.75..5005.32 rows=60342 width=14) (actual time=12.641..48.115 rows=63652 loops=2)                           |
|                                                                                          Hash Cond: (consulta.nif = medico.nif)                                                          |
|                                                        ->  Hash Join  (cost=1814.40..4833.38 rows=60342 width=12) (actual time=12.584..38.193 rows=63652 loops=2)                        |
|                                                                                Hash Cond: ((receita.codigo_sns)::bpchar = consulta.codigo_sns)                                           |
|                                                   ->  Parallel Seq Scan on receita  (cost=0.00..2703.55 rows=120155 width=15) (actual time=0.004..5.138 rows=102132 loops=2)             |
|                                                             ->  Hash  (cost=1355.51..1355.51 rows=36711 width=23) (actual time=12.445..12.447 rows=36500 loops=2)                        |
|                                                                                           Buckets: 65536  Batches: 1  Memory Usage: 2473kB                                               |
|                                             ->  Index Scan using index_consulta_data on consulta  (cost=0.29..1355.51 rows=36711 width=23) (actual time=0.033..6.345 rows=36500 loops=2) |
|                                                                                Index Cond: ((data >= '2023-01-01'::date) AND (data <= '2023-12-31'::date))                               |
|                                                                 ->  Hash  (cost=1.60..1.60 rows=60 width=22) (actual time=0.036..0.039 rows=60 loops=2)                                  |
|                                                                                         Buckets: 1024  Batches: 1  Memory Usage: 12kB                                                    |
|                                                             ->  Seq Scan on medico  (cost=0.00..1.60 rows=60 width=22) (actual time=0.017..0.024 rows=60 loops=2)                        |
|                                                                                 Planning Time: 0.819 ms                                                                                  |
|                                                                                Execution Time: 69.516 ms                                                                                 |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

### Justificação

...